<%= link_to "Make new list", new_user_list_path(@user) %>

<% if @user.lists.any? %>
    <h2>Your lists:</h2>
        <ul>
                <% @your_lists.each do |list| %>
                    <li>
                        <%= link_to list.name, user_list_path(@user, list) %> 
                        by <%= link_to "you", user_path(current_user) %>
                        (<%= link_to "Edit list", edit_user_list_path(@user, list) %>)
                    </li>
                <% end %>
        </ul>
<% end %>