/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .errors li, .errors h4 {
    color: red;
    font-weight: bold;
}

body {
    padding-top: 15px;
    margin: 22px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    line-height: 1.5;
}

head {
    font-family: 'Source Serif Pro', serif;
    margin: 0px;
}

div.field_with_errors {
    display: inline;
  }

  #page_title {
    text-align: center;
    font-family: 'Source Serif Pro', serif;
  }

  .top_nav {
      width 100%;
      overflow: hidden;
      height: 44px;
      line-height: normal;
  } 

  ul.top_nav {
    list-style-type: none;
    position: fixed; /* Set the navbar to fixed position */
    top: -16px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-left: -22px;
    padding: 0;
    overflow: hidden;
    background-color: #254264;   /* or partial visibility? #083466b6; */
  }
  
  li.top_nav {
    float: left;
  }
  
  li.top_nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #gl_home a {
    padding: 8px 16px;
    font-size: xx-large;
  }
  
  #logout {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #login {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
  }
  /* Change the link color to #111 (black) on hover */
  li.top_nav a:hover {
    background-color: #12324966;
  }

  .bottom_nav {
    list-style-type: none;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-left: -22px;
    padding: 0;
    overflow: hidden;
    background-color: #254264;
    display: block;
    color: white;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
  }

  .bottom_nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    display: inline;
  }